In [1]:
!pip install shapely

In [2]:
!pip install ggplot

In [3]:
from pyspark.sql import Row 
from pyspark.sql.types import *
import pandas as pdd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import warnings
import os
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark

In [4]:
Train = spark.read.csv("/FileStore/tables/train.csv",header=True, inferSchema=True)
Train.show(2)

In [5]:
Train.printSchema()

In [6]:
df = Train.select( "Category", "PdDistrict", "Address",Train.X.cast("double"), Train.Y.cast("double"), "Dates","DayOfWeek")
df.printSchema()

In [7]:
Q1_x, Q3_x = df.approxQuantile("X", [0.25, 0.75], 0.0)
x_min_range = Q1_x - (Q3_x - Q1_x)*1.5
x_max_range = Q3_x + (Q3_x - Q1_x)*1.5

Q1_y, Q3_y = df.approxQuantile("Y", [0.25, 0.75], 0.0)
y_min_range = Q1_y - (Q3_y - Q1_y)*1.5
y_max_range = Q3_y + (Q3_y - Q1_y)*1.5

df = df[df["X"] <= x_max_range]
df = df[df["X"] >= x_min_range]
df = df[df["Y"] <= y_max_range]
df = df[df["Y"] >= y_min_range]

In [8]:
df.groupBy("Category").count().orderBy("Category").show()

In [9]:
df.groupBy("PdDistrict").count().orderBy("PdDistrict").show()

In [10]:
df_X_all = df.groupBy("Category").count().orderBy("count").toPandas()
fig = plt.figure(figsize=(25,12))
sb.set(font_scale=0.8, style = "whitegrid")
sb.barplot(x= "count", y = "Category", data = df_X_all)
plt.legend(loc='upper right')
display(fig)

In [11]:

df.createTempView("sf_crime")

In [12]:
#Spark SQL based
crime_cat = spark.sql("SELECT Category, COUNT(*) AS Numbers_Crime \
                       FROM sf_crime \
                       GROUP BY Category \
                       ORDER BY Numbers_Crime DESC")

crime_cat.show()

In [13]:
from pyspark.sql.functions import count
crime_cat_df=df.groupBy("Category").agg(count("*").alias("Numbers_Crime")).orderBy("Numbers_Crime",ascending=False)
crime_cat_df.show()

In [14]:
crime_category_pd =  crime_cat_df.toPandas()

In [15]:
sb.set(style = "whitegrid")
fig = plt.figure(figsize=(25,20))
x = np.arange(len(crime_category_pd["Category"]))
plt.bar(x, crime_category_pd["Numbers_Crime"], color = sb.color_palette("PiYG", len(x)), data = crime_category_pd)
plt.ylabel("number of crimes", fontsize=20)
plt.xticks(x, tuple(crime_category_pd["Category"]), fontsize = 10, rotation = 90)
plt.title('number of crimes for different category', fontsize=20)
display(fig)

In [16]:

df_district = spark.sql("SELECT PdDistrict, COUNT(*) as Numbers_Crime \
                         FROM sf_crime \
                         GROUP BY PdDistrict \
                         ORDER BY Numbers_Crime DESC")
df_district.show()

In [17]:
crime_PdDis_df=df.groupBy("PdDistrict").agg(count("*").alias("Numbers_Crime")).orderBy("Numbers_Crime",ascending=False)
crime_PdDis_df.show()

In [18]:
crime_PdDis_pd =  crime_PdDis_df.toPandas()

In [19]:
sb.set(style = "whitegrid")
fig = plt.figure(figsize=(25,20))
x = np.arange(len(crime_PdDis_pd["PdDistrict"]))
plt.bar(x, crime_PdDis_pd["Numbers_Crime"], color = sb.color_palette("PiYG", len(x)), data = crime_PdDis_pd)
plt.ylabel("number of crimes", fontsize=20)
plt.xticks(x, tuple(crime_PdDis_pd["PdDistrict"]), fontsize = 10, rotation = 90)
plt.title('number of crimes for different PdDistrict', fontsize=20)
display(fig)

In [20]:
from pyspark.sql.types import FloatType, BooleanType
from pyspark.sql.functions import udf
from shapely.geometry import Polygon, Point

In [21]:
poly = Polygon([(37.797844, -122.407050), (37.798937, -122.398205), (37.798519, -122.397808), 
              (37.795541, -122.396759), (37.794233, -122.395145), (37.786599, -122.404677),
              (37.797844, -122.407050)])  # this is when I know the order of the coordinates

x,y = poly.exterior.xy
fig = plt.figure(figsize=(4,2))
ax = fig.add_subplot(111)
ax.plot(x, y, color='blue', alpha=0.7, linewidth=1)
ax.set_title('Polygon')
display(fig)

In [22]:
def in_sf_downtown(x,y):
  point = Point(float(y), float(x))
  return poly.contains(point)


sf_downtown_udf = udf(lambda x, y: in_sf_downtown(x,y), StringType())

In [23]:
from pyspark.sql.functions import to_timestamp, to_date

df_Q3 = df.select(["X", "Y", sf_downtown_udf("X","Y").alias('In_downtown'), to_date("Dates").alias('Date'),"DayOfWeek"])
df_Q3.createOrReplaceTempView("sf_crime_Q3")
df_Q3.show(5)

In [24]:
from pyspark.sql.functions import  col, column, expr

crime_sunday_df=df_Q3.where(col("DayOfWeek") == "Sunday").where(col("In_downtown") == 'true').select('*')
crime_sunday_df.show()

In [25]:
df_crime_sunday = spark.sql("SELECT *\
                             FROM sf_crime_Q3 \
                             WHERE DayOfWeek = 'Sunday' and In_downtown = true")
df_crime_sunday.show()

In [26]:
from pyspark.sql.functions import *
crime_month_df=df.groupBy(month(df.Dates).alias("Month"),year(df.Dates).alias("Year")).agg(count("*").alias("Numbers_Crime")).orderBy("Year","Month").select("Year","Month","Numbers_Crime")

crime_month_df.show()

In [27]:

df_crime_month = spark.sql("SELECT YEAR(Dates) AS Year, MONTH(Dates) AS Month, COUNT(*) AS Numbers_Crime\
                            FROM sf_crime\
                            GROUP BY MONTH(Dates), YEAR(Dates)\
                            ORDER BY YEAR(Dates), MONTH(Dates)")
df_crime_month.show()

In [28]:
df_crime_month = df_crime_month.toPandas()

In [29]:

fig = plt.figure(figsize=(25,10))
sb.set(font_scale=2, style = "whitegrid", rc={"lines.linewidth": 2.5})
sb.barplot(x= "Month", y = "Numbers_Crime", hue="Year", data = df_crime_month)
plt.legend(loc='upper right')
display(fig)

In [30]:

crime_same_DF=df.where(to_date(df.Dates).isin('2003-01-06', '2004-01-10','2008-01-13','2015-05-13')).groupBy(hour(df.Dates).alias("Hour"),to_date(df.Dates).alias("Date"),year(df.Dates).alias("Year")).agg(count("*").alias("Numbers_Crime")).orderBy("Year","Date","Hour").select("Year","Date","Hour","Numbers_Crime")

crime_same_DF.show()

In [31]:



df_crime_same = spark.sql("SELECT YEAR(Dates) AS Year, to_date(Dates) AS Date, HOUR(Dates) AS Hour,COUNT(*) AS Numbers_Crime\
                                FROM sf_crime\
                                WHERE to_date(Dates) in ('2003-01-06', '2004-01-10','2008-01-13','2015-05-13')\
                                 GROUP BY HOUR(Dates), to_date(Dates), YEAR(Dates)\
                                 ORDER BY YEAR(Dates), to_date(Dates), HOUR(Dates)")
                               


df_crime_same.show()

In [32]:
df_crime_same_date=crime_same_DF.toPandas()

In [33]:

fig = plt.figure(figsize=(30,15))
sb.set(font_scale=3, style = "whitegrid", rc={"lines.linewidth": 4.5})

for day in df_crime_same_date["Date"].unique():
  plt.stackplot(df_crime_same_date[df_crime_same_date["Date"] == day]["Hour"],
                df_crime_same_date[df_crime_same_date["Date"] == day]["Numbers_Crime"] , alpha=0.3)

plt.legend([2003, 2004, 2008, 2015], loc='upper left')
display(fig)

In [34]:
crime_PdDis_df=df.groupBy("PdDistrict").agg(count("*").alias("Numbers_Crime")).orderBy("Numbers_Crime",ascending=False)
crime_PdDis_df.show()

In [35]:
df.createOrReplaceTempView("sf_crime")

In [36]:

df_crime_danger_dist = spark.sql("SELECT PdDistrict, COUNT(*) AS Numbers_Crime \
                                  FROM sf_crime \
                                  GROUP BY PdDistrict \
                                  ORDER BY Numbers_Crime DESC")

df_crime_danger_dist.show()

In [37]:
from pyspark.sql.functions import desc,max,col,sum,rank,asc

crime_danger_cat_DF=df.where(df.PdDistrict.isin('SOUTHERN','MISSION','NORTHERN')).groupBy(df.Category,hour(df.Dates).alias("Hour")).agg(count("*").alias("Numbers_Crime")).orderBy(asc("Hour"),desc("Numbers_Crime")).select("Category","Hour","Numbers_Crime")

crime_danger_cat_DF.show()

In [38]:
df_crime_danger_cat = spark.sql("SELECT \
                                    Category, \
                                    HOUR(Dates) AS Hour, \
                                    COUNT(*) AS Numbers_Crime \
                                 FROM sf_crime \
                                 WHERE PdDistrict IN ('SOUTHERN','MISSION','NORTHERN') \
                                 GROUP BY Category, HOUR(Dates) \
                                 ORDER BY HOUR(Dates), Numbers_Crime DESC")

df_crime_danger_cat.show()

In [39]:
df_crime_danger_cat = df_crime_danger_cat.toPandas()

In [40]:

fig = plt.figure(figsize=(50,20))
sb.set(font_scale=3, style = "whitegrid")
sb.barplot(x= "Hour", y = "Numbers_Crime",  data = df_crime_danger_cat)
plt.legend(loc='upper left')
display(fig)

In [41]:
fig = plt.figure(figsize=(30,40))
sb.set(font_scale=2, style = "whitegrid")
sb.barplot(x= "Numbers_Crime", y = "Category", data = df_crime_danger_cat)
plt.legend(loc='upper left')
plt.xticks(rotation = 0)
display(fig)

In [42]:
from pyspark.sql.functions import count
crime_percent_df=df.groupBy("Category").agg(count("*").alias("Numbers_Crime")).orderBy("Numbers_Crime",ascending=False)
crime_percent_df.show()

In [43]:
df_crime_percent= spark.sql("SELECT Category, COUNT(*) AS Numbers_Crime \
                                  FROM sf_crime \
                                  GROUP BY Category")


df_crime_percent.show(5)

In [44]:
import pyspark.sql.functions as f
from pyspark.sql.window import Window
df_crime_percent_cat  = crime_percent_df.withColumn('Crime_Percent', f.col('Numbers_Crime')*100/f.sum('Numbers_Crime').over(Window.partitionBy()))
df_crime_percent_cat=df_crime_percent_cat.orderBy('Crime_Percent', ascending=False).show()